/*-- scss:defaults --*/

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

#nav, #nav-inner, .nav-list {
	background-color: #fff;
	border: 0;
	}

#nav { border-top: 5px solid #D10000; }

#nav a:link,a:visited { 
	border-radius: 0 0 8px 8px; 
	padding:0px 15px;
	}

#nav ul {
	margin:0;
	margin-left: 20px; 
	padding: 0;
	}

#nav li{
	text-transform:uppercase;
	}

#nav a {
	float: left;
	font-weight: bold;
	color: #000;
	margin: 0 5px 0 0; /* Margin between each menu item */
	background-color: #eee; /* Default tab color */
	}

#nav a:hover {
	background-color: #D10000; 
	color: #fff;
	}
