/*-- scss:defaults --*/

// fonts
$font-family-sans-serif: "Palatino Linotype", "Book Antiqua", Palatino,
  FreeSerif, serif !default;

$body-bg: #00387b;
$body-color: #efefef;
$link-color: #fb6606
;

/*-- scss:rules --*/

.reveal .slide blockquote {
  border-left: 2px solid $text-muted;
  padding-left: 0.5em;}
  

